<!DOCTYPE html>
<html>
  <head>
    <title>JinnyBackend</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
  </head>

  <% if administrator_signed_in? %>
    <body class="sidebar-fixed header-fixed">
      <div class="page-wrapper">
        <%= render "admin/shared/header" %>
        <div class="main-container">
          <%= render "admin/shared/left_sidebar" %>
            <div class="content">
              <%= yield %>
            </div>
        </div>
      </div>
    </body>
  <% else %>
    <%= yield %>
  <% end %>
</html>
